<!-- 音乐播放器模板 -->
<div class="row">
    <meting-js class="col l8 offset-l2 m10 offset-m1 s12"
               server="netease"
               type="playlist"
               id="8561735623"
               fixed='true'
               autoplay='false'
               theme='#42b983'
               loop='all'
               order='random'
               preload='auto'
               volume='0.7'
               list-folded='true'>
    </meting-js>
</div>
<script src="/libs/aplayer/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
